*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
}

#main{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

.left-top-left{
     grid-row: 1/1;
    grid-column: 1/2;
    padding: 12px;

}

.left-top-left h4{
    font-size: 32px;
    font-weight: 600;
    padding-left: 15px;
    
}

.left-top-right h4{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    
}

.left-top-right{
    grid-column: 2/3;
    padding:15px;
    text-align: right;
    color: #666;
}

.left-top-right h5{
    padding: 2px;
    cursor: pointer;
    font-weight: 600;
    
}

.left-top-right h5:hover{
    cursor:pointer;
    text-decoration: underline;
    color: black;
}

.left-top-right h6{
    display: none;
}

.left-center{
    grid-column: 1/3;
    padding:40px;
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left-center h4{
    font-size: 4vw;
    text-transform: uppercase;
    
    line-height: 4.2vw;
    font-weight: 500;
}

.left-center h4:nth-child(2n){
    text-align: center;
}



.left-bottom{
   grid-column: 1/3;
    padding: 25px;
}

.left-bottom p{
    color: #666;
    text-align: right;
}

.right{
    grid-column: 3;
    grid-row: 1/4;
    padding:25px;
}

.right video{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:5px;

}

.right i{
    background-color:rgb(16, 16, 148);
    border-radius: 50%;
    box-shadow: 0.2px 0.2px 0 1px white;
    position: absolute;
    top:50%;
    left:52%;
    padding: 20px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
}

.right i:hover{
    cursor: pointer;
    background-color:rgb(7, 7, 67);
}

@media (max-width:600px){
    #main{
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% 32% 15% 48%;
    }
    
    .left-top-left{
         grid-row: 1/2;
        grid-column: 1/2;
        padding:2px;
    }
    
    .left-top-left h4{
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }
    

    .left-top-right h4,.left-top-right h5{
        display: none;  
    }
    
    .left-top-right h6{
        display: inherit;
        color:black;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    
    .left-top-right h5:hover{
        cursor:pointer;
        text-decoration: underline;
        color: #666;;
    }
    
    .left-center{
        grid-column: 1/3;
        padding:40px;
        font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .left-center h4{
        font-size: 9vw;
        text-transform: uppercase;
        
        line-height: 11vw;
        font-weight: 500;
    }
    
    .left-center h4:nth-child(2n){
        text-align: center;
    }
    
    
    
    .left-bottom{
       grid-column: 1/3;
        padding: 40px;
    }
    
    .left-bottom p{
        color: #666;
        text-align: center;
    }
    
    .right{
        grid-column: 1/4;
        grid-row: 4/6;
        margin-top: 30px;
        padding:50px 20px;
    }
    
    .right video{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:5px;
    
    }
    
    .right i{
       
        top:62%;
        left:52%;
        padding: 20px;
       
        transform: translate(-50%,-50%) rotate(90deg);
    }
    
    .right i:hover{
        cursor: pointer;
        background-color:rgb(7, 7, 67);
    }
}
